# Eclipse
.classpath
.project
.settings/
.metadata/
.metadata
bin/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
*.log
log/
*/target/classes
*/target/generated-sources
*/target/localmarket-1.0
*/target/maven-archiver
*/target/surefire
test-classes/*

*.log.lck

p4.ini
*.log
target/
surefire-reports/

