<div class="hero-unit">
  <form name="advertiseForm" ng-submit="advertiseCtrl.advertise()">
    <input type="text" ng-model="advertiseCtrl.data.name" placeholder="Name" required="">
    
    <input type="text" ng-model="advertiseCtrl.data.location" placeholder="Location" required="">
    <input type="text" ng-model="advertiseCtrl.data.city" placeholder="City" required="">
    <input type="text" ng-model="advertiseCtrl.data.category" placeholder="Category" required="">
    <input type="text" ng-model="advertiseCtrl.data.contactInfo" placeholder="Contact" required="">
    <input type="text" ng-model="advertiseCtrl.data.description" placeholder="What would you like to sell? Provide all information that would interest a buyer." required="">
    <input type="submit" value="advertise" class="btn btn-success btn-large" ng-disabled="advertiseForm.$invalid">
  </form>
</div>
