

<div ng-controller="DefaultCtrl as defaultCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"><a href="#">Home</a></span>
            <span class="sr-only active"><a href="#search">Search</a></span>
            <span class="sr-only"><a href="#advertise">Post Ad</a></span>
          </button>
        </div>
      </div>
    </nav>
</div>
<div class="hero-unit" ng-controller="AdvertiseCtrl as advertiseCtrl">
  <form name="advertiseForm" ng-submit="advertiseCtrl.advertise()">
    <input type="text" ng-model="advertiseCtrl.data.name" placeholder="Name" required="">
    
    <input type="text" ng-model="advertiseCtrl.data.location" placeholder="Location" required="">
    <input type="text" ng-model="advertiseCtrl.data.city" placeholder="City" required="">
    <input type="text" ng-model="advertiseCtrl.data.category" placeholder="Category" required="">
    <input type="text" ng-model="advertiseCtrl.data.contactInfo" placeholder="Contact" required="">
    <input class="textarea" type="textarea" ng-model="advertiseCtrl.data.description" placeholder="What would you like to sell? Provide all information that would interest a buyer." required="">
    <input type="submit" value="Post the ad" class="btn btn-success btn-small" ng-disabled="advertiseForm.$invalid">
  </form>
</div>
