
<div class="jumbotron container theme-showcase">
  <h1><b>Welcome to your LocalMarket in Kerala</b></h1>
</div> 
<div class="container theme-showcase" ng-controller="DefaultCtrl as defaultCtrl">
      
<div class="page-header">
        <h1>Buy Locally</h1>
</div>        
<p>Don't you wish to buy locally produced vegetables, plants, puppies, milk, crafts?
        But, how do you find out who is selling those ? </p>
       <p> Now you can, using LocalMarket! 
</p>         
<div class="page-header">
   <p> <button class="btn btn-success btn-small" ng-click="defaultCtrl.search()" >Search Now</button></p>
</div>

<div class="page-header"/>
<div class="page-header">
        <h1>Sell Locally</h1>
</div>    
<p>You are a great florist, tailor, artist, author, farmer, beekeeper, but you don't know how to market your products. LocalMarket markets your products for free!
    Don't you wish you can find local buyers for what you produce?
       It will be much easier and cost effective, if only you can connect with potential buyers.</p>
       <p>
    Now you can, using LocalMarket! 
      What would you like to sell?</p>

<div class="page-header">
 <p> <button class="btn btn-success btn-small" ng-click="defaultCtrl.post()" >Post An Ad</button></p>
</div>
<div class="row"/>
</div>
<footer>

</footer>
</div>

 

