
<div class='container'>

 <div class="row">
 <h3>Don't see what you need? Post an ad to express your interest to buy</h3>
           <div class="hero-unit" ng-controller="InterestCtrl as interestCtrl">
            <form name="interestForm" ng-submit="interestCtrl.submit()">
            	<!-- <fieldset>
                <legend>I'd like to </legend>
                        <input type="checkbox" ng-model="interestCtrl.buy"  name="buysell" value="Buy" />Buy <br />
                        <input type="checkbox" ng-model="interestCtrl.sell"  name="buysell" value="Sell" />Sell<br />
       			</fieldset> -->
				<p><p><input  type="text" id="items" ng-model="interestCtrl.items" placeholder="Eggs, Fresh curd, bonsai" required="" /> </p>
				<p><input  type="text" id="email" ng-model="interestCtrl.email" placeholder="email or phone" required="" /> </p>
	 			<div class="ui-widget" >
	 	 		 <label for="locations">PinCode/Location/District </label>
	  	  		<input id="locations" ng-model="interestCtrl.location" placeholder="680008" required="" 
	  	   			ng-keyup="complete()"/>
				
				</div>
				
				<input type="submit" value="Express Interest" class="btn btn-success btn-large" ng-disabled="interestForm.$invalid">
  			</form>
			</div>  			
           
          
        </div>

       
</div>

 

