
<div class="row" ng-controller="DefaultCtrl as defaultCtrl">
   <div class="container text-center"> 
    <button class="btn btn-success btn-large" ng-click="defaultCtrl.home()" >Home</button>
 </div>
</div>

<table class="table table-striped row-fluid" ng-controller="ListCtrl as listCtrl">
  <div ng-repeat="ad in listCtrl.ads">
    <div class="newsnbbxnoclr snbbox white_box " style="background: rgb(255, 255, 255);">
      <div  ng-click="listCtrl.select(ad)">
        <span >{{ad.location}} {{ad.city}} {{ad.description}} </span>
        <button class="btn btn-success btn-large" > Contact</button>
      </div>
    </div>
  </div>
</table>
