
<div ng-controller="DefaultCtrl as defaultCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"><a href="#">Home</a></span>
            <span class="sr-only active"><a href="#search">Search</a></span>
            <span class="sr-only"><a href="#advertise">Post Ad</a></span>
          </button>
        </div>
      </div>
    </nav>
</div>

<table class="table table-striped row-fluid" ng-controller="ListCtrl as listCtrl">
  <div ng-repeat="ad in listCtrl.ads">
    <div class="newsnbbxnoclr snbbox white_box " style="background: rgb(255, 255, 255);">
      <div  ng-click="listCtrl.select(ad)">
        <span >{{ad.location}} {{ad.city}} {{ad.description}} </span>
        <button class="btn btn-success btn-small" > Contact</button>
      </div>
    </div>
    </div>
</table>
