
<div class="row" ng-controller="DefaultCtrl as defaultCtrl">
<div class="container text-center">
    <button class="btn btn-success btn-large" ng-click="defaultCtrl.home()" >Home</button>
 </div>
 </div>

<table class="table table-striped row-fluid" ng-controller="SingleCtrl as singleCtrl">
    <div>
      <div  >
        Name: {{singleCtrl.ad().name}} <br/>
        ContactInfo: {{singleCtrl.ad().contactInfo}}  <br/>
        
     	Item Description: {{singleCtrl.ad().description}}  <br/>
     	Location: {{singleCtrl.ad().location}}  <br/>
     	City: {{singleCtrl.ad().city}}  <br/>

        <br/>
        Please do not forget to mention 'LocalMarket' when you contact.
        
      </div>
    </div>
</table>
