

<div ng-controller="DefaultCtrl as defaultCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"><a href="#">Home</a></span>
            <span class="sr-only active"><a href="#search">Search</a></span>
            <span class="sr-only"><a href="#advertise">Post Ad</a></span>
          </button>
        </div>
      </div>
    </nav>
</div>

<table class="table table-striped row-fluid" ng-controller="SingleCtrl as singleCtrl">
    <div>
      <div  >
        Name: {{singleCtrl.ad().name}} <br/>
        ContactInfo: {{singleCtrl.ad().contactInfo}}  <br/>
        
     	Item Description: {{singleCtrl.ad().description}}  <br/>
     	Location: {{singleCtrl.ad().location}}  <br/>
     	City: {{singleCtrl.ad().city}}  <br/>

        <br/>
        Please do not forget to mention 'LocalMarket' when you contact.
        
      </div>
    </div>
</table>
