<div class="hero-unit">
  <form name="referralForm" ng-submit="referCtrl.refer()">
    <input type="text" ng-model="referCtrl.data.name" placeholder="Name" required="">
    <input type="text" ng-model="referCtrl.data.age" placeholder="Age" required="">
    <input type="text" ng-model="referCtrl.data.location" placeholder="Location" required="">
    <input type="text" ng-model="referCtrl.data.city" placeholder="City" required="">
    <input type="text" ng-model="referCtrl.data.category" placeholder="Category" required="">
    <input type="text" ng-model="referCtrl.data.contactInfo" placeholder="Contact" required="">
    <input type="text" ng-model="referCtrl.data.availability" placeholder="Availability" required="">
    <input type="submit" value="Refer" class="btn btn-success btn-large" ng-disabled="referralForm.$invalid">
  </form>
</div>
