<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>cors-filter</filter-name>
		<filter-class>
			org.localmarket.util.SimpleCORSFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>cors-filter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>auth-filter</filter-name>
		<filter-class>
			org.localmarket.util.AuthFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>auth-filter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>logging-filter</filter-name>
		<filter-class>
			org.localmarket.util.LoggingFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>logging-filter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
       
</web-app>

